@{
    ViewBag.Title = "About";
}
<br />
<br />
@*<h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>*@
<h3>Made by:</h3>

<p>
    Name:SHAH SAMARTH R<br />
    ROLL NO:CE-117<br />
    ID:16CEUOS096
    <br />
</p>
<p>
    Name:SHETH VIVEK G<br />
    ROLL NO:CE-120<br />
    ID:16CEUOS118<br />
</p>
<p>
    Name:SRIVASTAVA HARSH<br />
    ROLL NO:CE-126<br />
    ID:16ITUON021<br />
</p>
<p>
    <h3>Under guidance of:</h3><br />Professor Jatayu Baxi
</p>